@model IEnumerable<ABIY_One.Models.Size>

@{
    ViewBag.Title = "Sizes lists";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

    <h2 class="title text-center">@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SizeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.SizeName)
    </td>
    <td>
        <a href="@Url.Action("Details","Sizes", new { id=item.SizeId })" rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs"><i class="fa fa-eye"></i></a>
        <a href="@Url.Action("Edit","Sizes", new { id=item.SizeId })" rel="tooltip" title="Edit" class="btn btn-success btn-simple btn-xs"><i class="fa fa-edit"></i></a>
        <a href="@Url.Action("Delete", "Sizes", new { id = item.SizeId })" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs"><i class="fa fa-times"></i></a>
    </td>
</tr>
}

</table>
